<section>
    <h1>Add new event</h1>
    <div class="form_container">
        <img src="" alt="User/Admin">
        <h3>Register new student</h3>
        <form action="" id="form">
            <label for="">Full name</label>
            <input type="text" value="" id="name">

            <label for="">Description</label>
            <input type="text" value="" id="email">

            <label for="">Count</label>
            <input type="number" value="" id="number">

            <label for="">Date</label>
            <input type="date" value="" id="date">
            <div class="btns_form">
                <input type="submit" value="Cancel">
                <input type="submit" value="send" class="cancel">
            </div>
        </form>
    </div>
</section>