<section>
    <h1>enrollments</h1>

    <div class="users_container">
        <table>
            <thead>
                <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Capacity</th>
                <th>Date</th>
                </tr>
            </thead>
            <tbody id="tbody">
                <tr>
                <td>Dato 1</td>
                <td>Dato 2</td>
                <td>Dato 2</td>
                <td>Dato 2</td>
                <td>Dato 2</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>